

@font-face
    font-family: "Roboto"
    src: url("../res/fonts/Roboto/Roboto-Regular.ttf")

@font-face
    font-family: "Roboto"
    src: url("../res/fonts/Roboto/Roboto-Bold.ttf")
    font-weight: bold

@font-face
    font-family: 'Material Icons'
    font-style: normal
    font-weight: 400
    src: url(../res/fonts/MaterialIcons/Material-Icons.ttf)