.popup
    position: relative
    display: block      //to remove
    top: 100%

    .popup-inner
        display: block
        background-color: white
        border-radius: 3px
        border: 1px solid #999
        position: absolute
        right: 0
        top: 0
        width: 180px
        height: auto
        z-index: 1



.popup-row
    padding: 15px 10px
    height: auto

    &.enabled
        color: #333

        &:hover
            background-color: #f7f7f7

    &.disabled
        color: #999


.soft-button
    display: block
    margin: auto
    font-size: 14px 
    color: $accent
    text-transform: uppercase
    font-family: "Roboto"
    background: white
    border: none
    letter-spacing: 1px
    border-radius: 2px
    padding: 9px 8px
    outline: none

    &:hover
        background-color: rgba(white, 0.90)
