@import 'values/colors'
@import 'res/fonts'
@import 'res/icons'

@import 'lib/mixins'
@import 'lib/templates'

@import 'misc'
@import 'components/header'
@import 'components/projects'


html, body, #root, #root > div
    height: 100%

body
    margin: 0
    font-family: "Roboto"
    color: #333
    user-select: none
    cursor: default

#root > div
    display: flex
    flex-direction: column

.content
    display: flex
    align-items: stretch
    flex-grow: 1

hr
    margin: 0
    border: none
    border-bottom: 1px solid #ccc