$accent: #0097A7

@import fonts
@import icons
@import misc

@import header
@import projects


html, body, #root, #root > div
    height: 100%

body
    margin: 0
    font-family: "Roboto"
    color: #333
    user-select: none
    cursor: default

#root > div
    display: flex
    flex-direction: column

.content
    display: flex
    align-items: stretch
    flex-grow: 1

hr
    margin: 0
    border: none
    border-bottom: 1px solid #ccc