$accent: #0097A7

@import misc
@import header
@import fonts
@import icons
@import projects


html, body, #root, #root > div
    height: 100%

body
    margin: 0
    font-family: "Roboto"
    color: #333
    user-select: none
    cursor: default
    