.projects-pane
    display: flex
    flex-direction: column
    width: 300px
    border-right: $border-heavy
    overflow: hidden

    &>.inside
        +flex(flex-start, stretch, column)
        flex-grow: 1

        & > *:nth-child(2)
            border-top: $border-heavy
//


//*** PROJECT LIST ***

.projects-header
    padding: 5px 10px
    padding-bottom: 8px
    background-color: white
//

.projects-list
    +flex(flex-start, stretch, column)
    flex-grow: 1
    background-color: #fcfcfc

    .list
        +flex(flex-start, stretch, column)
        flex-grow: 1
        overflow-y: auto
//

.project-row
    @extend .card
    position: relative
    padding: 10px 14px
    font-size: 1.2rem

    .top
        +flex(space-between)
    //

    .name
        color: #333
        font-size: 1em
        margin-bottom: 5px
    //

    .description
        color: #aaa
        font-size: 0.8em
    //

    .date
        font-size: 0.65em
        margin-right: 12px
        color: $text-aside
    //

    .selected-dot
        display: block
        background-color: pink
        border-radius: 50%
        +size(0.5em)
        top: 0
        right: 0
        margin: 8px
        position: absolute
    //
//


//*** OTHER ***

.project-spinner
    +flex(left, center)
    padding: 10px 20px
    color: #888

    .animated-spinner
        +animated-spinner()
        margin-right: 12px
//


.add-project-form
    padding: 10px 20px
    padding-bottom: 6px

    input[type="text"]
        margin-bottom: 8px

    &>input:last-of-type
        margin-bottom: 10px

    h1
        margin-top: 5px
        margin-bottom: 12px

    .buttons
        +flex()
        flex-direction: row-reverse

        .add
            +sneaky-button($green-add)
            margin-left: 5px

        .cancel
            +sneaky-button($red-cancel)
//


.projects-bottom
    +flex(space-between, center)
    flex-shrink: 0
    border-top: $border-base
    padding: 5px 10px

    .select
        +sneaky-button($blue-select)

    .add
        +sneaky-button($green-add-light)
//

.project-details
    padding: 13px 15px
    background-color: white

    .name
        font-size: 1.3rem
        font-weight: bold
        padding-bottom: 6px

    .description
        color: #444

    .delete-button
        margin-top: 10px
//
