
.projects-pane
    width: 300px
    border-right: 1px solid #ccc
    overflow: hidden
    display: flex
    flex-direction: column

.projects-list
    flex-grow: 1
    overflow-y: scroll


.projects-header
    padding: 5px 10px


.add-project
    +concrete-button(#4CAF50)


.cancel-project
    +ethereal-button(#cb2431)



.project-row
    padding: 15px
    font-family: Roboto
    border-bottom: 1px solid #ccc
    
    .name
        color: #333
        font-size: 1em
        margin-bottom: 5px

    .description
        color: #aaa
        font-size: 0.8em

.project-spinner
    display: flex
    justify-content: left
    align-items: center
    padding: 10px 20px
    border-top: 1px solid #ccc
    color: #888

    .loading-projects
        font-size: 0.96em

    .animated-spinner
        +animated-spinner()
        margin-right: 12px


.add-project-form
    padding: 8px

    input[type="text"]
        margin-bottom: 8px

    div
        display: flex

    .add-project
        margin-right: 10px

