.material-icons
    margin: auto
    font-family: 'Material Icons'
    font-style: normal
    font-size: 25px
    display: block

    // -webkit-font-smoothing: antialiased
    // text-rendering: optimizeLegibility
